{% extends 'main.html' %}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>Name:</strong> {{ user.username }}</p>
            <p><strong>Age:</strong> {{ user.age }}</p>
        </article>
        <br>
    {% else %}
        <section class="container-fluid">
            <h2 align="center"> Users </h2>
            <br>
            <div class="card">
                <ol class="list-group list-group-flush">
                    {% for user in users %}
                        <li class="list-group-item">
                             <a href="/user/{{ user.id }}">
                                {{ loop.index }}. {{ user.username }}
                             </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </section>
    {% endif %}
{% endblock %}